[Unit]
Description=Rust DHT Sensor Service
After=network.target

[Service]
ExecStart=/home/pitemp/dht11rs/target/release/dht11rs
Environment=RUST_LOG=info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target